.interface {
    margin: 0 auto;
    height: 100vh;
    max-width: 50rem;
    min-width: 25rem;
}

.flex-basis-0 {
    flex-basis: 0;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}