.interface {
    margin: 0 auto;
    height: 100vh;
    max-width: 50rem;
    min-width: 25rem;
}

.flex-basis-0 {
    flex-basis: 0;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.text-slightly-visible {
    color: #adb5bd;
}

.bounds {
    max-width: 50rem;
    min-width: 25rem;
}

.text-big {
    font-size: 1.475rem;
}

.text-big-2 {
    font-size: 2rem;
}

.text-very-big {
    font-size: 2.2rem;
}

.text-extremely-big {
    font-size: 2.4rem;
}