.main-menu-interface {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.mode .btn {
    font-size: 1.5em;
}

.mode1 {
    grid-row-start: 2;
    grid-column: 1/-1;
}

.mode2 {
    grid-row-start: 3;
}

.mode3 {
    grid-row-start: 3;
}

.mode4 {
    grid-row-start: 4;
}

.mode5 {
    grid-row-start: 4;
}

.mode6 {
    grid-row-start: 5;
    grid-column: 1/-1;
}