.main-menu-interface {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.main-menu-interface .mode .btn {
    font-size: 1.5em;
}

.main-menu-interface .mode1 {
    grid-row-start: 2;
    grid-column: 1/-1;
}

.main-menu-interface .mode2 {
    grid-row-start: 3;
    grid-column: 1/-1;
}

.main-menu-interface .mode3 {
    grid-row-start: 4;
}

.main-menu-interface .mode4 {
    grid-row-start: 4;
}

.main-menu-interface .mode5 {
    grid-row-start: 5;
}

.main-menu-interface .mode6 {
    grid-row-start: 5;
}

.main-menu-interface .mode7 {
    grid-row-start: 6;
    grid-column: 1/-1;
}