:root {
    --max-word-size-a: 7;
    --max-word-size-q: 11;
}

.game-interface {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(11, 1fr);
    grid-template-areas: 
        "menu menu"
        "q q"
        "q q"
        "q q"
        "q q"
        "ans1 ans2"
        "ans1 ans2"
        "ans1 ans2"
        "ans3 ans4"
        "ans3 ans4"
        "ans3 ans4";
}

.menu{
    grid-area: menu;
    font-size: 1.5em;
    margin: auto 0;
}

.question {
    width: 100%;
    grid-area: q;
    overflow-y: auto;
    display: flex;
    align-items: stretch;
}

.question div {
    width: 100%;
    margin: auto 0;
    text-align: center;
}

.question p {
    --margin-space: 3rem;
    max-width: 100%;
    font-size: min(min(calc((100vw - var(--margin-space)) / var(--max-word-size-q)), calc((100vh - var(--margin-space)) / var(--max-word-size-q))), calc((50rem - var(--margin-space)) / var(--max-word-size-q)));
    padding: 0 1rem 0 1rem;
    word-break: keep-all;
    line-break: auto;
    overflow-wrap: break-word;
    display: inline-block;
    text-align: left;
}

.ans, .ans .btn {
    width: 100%;
    margin: 0;
}

.ans {
    padding: 0;
    display: flex;
    align-items: stretch;
}

.ans .btn {
    padding-left: 1rem;
    padding-right: 1rem;
}

.ans .btn p {
    --margin-space: calc(1rem + 1rem);
    font-size: min(min(calc((45vw - var(--margin-space)) / var(--max-word-size-a)), calc((45vh - var(--margin-space)) / var(--max-word-size-a))), calc((20rem - var(--margin-space)) / var(--max-word-size-a)));
    white-space: pre-line;
    word-break: keep-all;
    line-break: auto;
    overflow-wrap: break-word;
    width: 100%;
    margin: 0;
    padding: 0;
}

.ans1{
    grid-area: ans1;
}

.ans2{
    grid-area: ans2;
}

.ans3{
    grid-area: ans3;
}

.ans4{
    grid-area: ans4;
}